@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

*,
*::before,
*::after{
    font-family: inherit;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Zen Old Mincho', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background: radial-gradient(rgb(25, 224, 25) 10%,rgb(2, 94, 2) 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;

    display: grid;
    grid:
        "header header header header" auto
        "...... lists active ......"  auto / 
        1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.titulo-principal{
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0,0,0,.1);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;
}

.tarefas-do-dia{
    grid-area: lists;
}

.lista-de-tarefas{
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.nome-lista{
    cursor: pointer;
}

.nome-lista:hover{
    opacity: 0.7;
}

form{
    display: flex;
}

.btn{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: #000000;
}

.btn.adicionar{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn.adicionar:hover{
    opacity: 0.7;
}

.btn.deletar{
    opacity: 0.7;
    font-size: 1rem;
    transition: color 200ms;
}

.btn.deletar:hover{
    color: rgb(99, 36, 36);
}

.nova{
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;

    transition: border-bottom 150ms ease-in;
    order: 2;
}

.nova::placeholder{
    opacity: 0.9;
}

.nova:focus{
    border-bottom: 3px;
}

.nova:focus::placeholder{
    opacity: 0.15;
}

.nova.lista{
    font-size: 1.1rem;
}

.nova.tarefa{
    margin-bottom: 0;
}

.active-list{
    font-weight: 700;
}

.lista-afazeres{
    --spacer: 2rem;
    
    grid-area: active;
    background: #f4f4f4;
    color: #333;
}

.header-afazeres{
    padding: var(--spacer);
    background: #CCCCCC;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.titulo-principal-lista{
    margin: 0 1em 0 0;
}

.total-de-tarefas{
    margin: 0;
    font-size: 1rem;
}

.body-afazeres{
    padding: var(--spacer);
    position: relative;
}

.adicionar-nova-tarefa .adicionar{
    color: rgb(54, 112, 199);
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.tarefa label{
    display: inline-flex;
    align-items: center;
    position: relative;

}

.tarefa{
    position: relative;
    margin-bottom: 1.25em;
}

.tarefa::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.custom-checkbox{
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.tarefa:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox{
    transform: scale(1.2);
    color: rgb(54, 112, 199);
}

[type="checkbox"]:checked + label .custom-checkbox{
    background: rgb(54, 112, 199);
    border-color: rgb(54, 112, 199);
    box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label{
    opacity: 0.5;
}

.tarefa label::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after{
    transform: scaleX(1);
    transform-origin: left;
    background: red;
}

.deletar{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: #f4f4f4;
}